@import url('https://raw.githack.com/Customa/Customa/master/Base/base.m.css');
@import url('https://raw.githack.com/Customa/Customa/master/Base/font.m.css');
@import url('https://raw.githack.com/Customa/Customa/master/Chat/whiteThemeSupport.m.css');

:root{{
	/* Base Module Variables */
	--ColAppBG: {color0};
	--ColBackground1: var(--ColAppBG);
	--ColBackground2: rgba({color8.rgb},.1);
	--ColAccent: {color4};
	--ColAccentAlpha: rgba({color4.rgb},.1);
	--ColAnchor: {color1};
	--ColLastMessage: transparent;
	--DisplayEmbedPill: "Block";

	/* Font Module Variables */
	--ColTextSelection: rgba({color2.rgb},0.5);    
	--FontFamily: "IBM Plex Sans", sans-serif;
	--FontMonoFamily: "IBM Plex Mono", monospace;

	/* White Theme Module Variables */
	--ColFont: {color7};
	--ColFontBright: {color8};
}}
