[submodule "bin"]
	path = bin
	url = https://gitlab.com/yemou/bin
[submodule "emacs.d"]
	path = emacs.d
	url = https://gitlab.com/yemou/emacs.d
[submodule "gamefiles"]
	path = gamefiles
	url = https://gitlab.com/yemou/gamefiles
[submodule "portage"]
	path = portage
	url = https://gitlab.com/yemou/portage
