*log
._cfg*
20opengl.conf
cfg/nvim/.netrwhist
portage/package.accept_keywords/zz-autounmask
portage/repos.conf/eselect-repo.conf~
cfg/nvim/dein
cfg/thm/current
portage/repos.conf/uwulay.conf~
cfg/sxhkd/sxhkdrc
cfg/sxhkd/sxhkdm-default.sxhkdrc
home/.emacs.d/auto-save-list
home/.emacs.d/elpa
home/.emacs.d/ido.last