configuration {
	width: 14;
	lines: 4;
	font: "Noto Mono 10";
	bw: 4;
	location: 2;
	padding: 10;
	yoffset: 60;
	fixed-num-lines: false;
	disable-history: true;
	line-margin: 0;
	separator-style: "none";
	hide-scrollbar: true;
	dpi: 92;
	theme: "~/.cache/wal/colors-rofi.rasi";
	terminal: "urxvt";
}
