configuration {
	modi: "run,window,drun";
	width: 24;
	lines: 12;
	font: "monospace 10";
	location: 2;
	yoffset: 64;
	fixed-num-lines: false;
	disable-history: true;
	dpi: 92;
	theme: "~/cfg/thm/current/rofi.rasi";
}
