configuration {
	width: 16;
	lines: 8;
	font: "lucy tewi 8";
	bw: 4;
	location: 2;
	padding: 8;
	yoffset: 64;
	fixed-num-lines: false;
	disable-history: true;
	line-margin: 0;
	separator-style: "none";
	hide-scrollbar: true;
	dpi: 92;
	theme: "~/.cache/wal/colors-rofi.rasi";
	terminal: "urxvt";
}
