Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1

URxvt.depth: 24
URxvt.buffered: True
URxvt.geometry: 64x16
URxvt.jumpScroll: True
URxvt.skipScroll: True
URxvt.font: xft:lucy tewi:pixelsize=11
URxvt.boldFont: xft:lucy tewi:style=Bold:pixelsize=11
URxvt.italicFont: xft:lucy tewi:pixelsize=11
URxvt.boldItalicFont: xft:lucy tewi:style=Bold:pixelsize=11
URxvt.letterSpace: 0
URxvt.scrollBar: False
URxvt.internalBorder: 32
URxvt.cursorBlink: True
URxvt.perl-ext:
URxvt.perl-ext-common:
URxvt.iso14755: false
URxvt.iso14755_52: false
