Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1

URxvt.depth: 24
URxvt.buffered: True
URxvt.geometry: 150x35
URxvt.jumpScroll: True
URxvt.skipScroll: True
URxvt.font: xft:Noto Sans Mono:pixelsize=12
URxvt.letterSpace: 0
URxvt.scrollBar: False
URxvt.internalBorder: 50
URxvt.cursorBlink: True
URxvt.perl-ext:
URxvt.perl-ext-common:
URxvt.iso14755: false
URxvt.iso14755_52: false
