! Xft Options
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1

!URxvt
URxvt.depth: 24
URxvt.buffered: True
URxvt.geometry: 80x20
URxvt.jumpScroll: True
URxvt.skipScroll: True
URxvt.font:  xft:Noto Sans Mono:size=8
URxvt.scrollBar: False
URxvt.internalBorder: 50
URxvt.cursorBlink: true
URxvt.perl-ext:
URxvt.perl-ext-common:
